<template>
  <component class="file-item"
             :is="item.type === 'file' ? 'a' : 'router-link'"
             :data-extension="formatExtension(item)"
             v-bind="currentProps">
    <div class="info">
      <div class="name">{{ formatName(item.name) }}</div>
      <div class="size">{{ item.type === 'file' ? formatSize(item.size) : formatItemCount(item.size) }}</div>
    </div>
  </component>
</template>

<script>
export default {
  name: 'FileItem',
  props: {
    item: Object,
    publicRoot: String
  },
  methods: {
    formatExtension (item) {
      if (item.type !== 'file') return ''
      return item.name.match(/\w+$/g)[0].toUpperCase()
    },
    formatName (name) {
      let doEllipsis = name.length > 30
      return name.substring(0, 30).concat(doEllipsis ? '…' : '')
    },
    formatItemCount (count) {
      if (count === 1) return count + ' item'
      else return count + ' items'
    },
    formatSize (bytes) {
      if (bytes > 1024 * 1024 * 1024) return (bytes / (1024 * 1024 * 1024)).toFixed(2) + ' GB'
      else if (bytes > 1024 * 1024) return (bytes / (1024 * 1024)).toFixed(2) + ' MB'
      else if (bytes > 1024) return (bytes / 1024).toFixed(2) + ' kB'
      else return (bytes).toFixed(2) + ' B'
    }
  },
  computed: {
    currentProps () {
      if (this.item.type === 'file') {
        return { href: this.publicRoot + this.item.publicPath, target: '_blank', download: this.item.name }
      } else {
        return { to: this.item.publicPath }
      }
    }
  }
}
</script>

<style lang="scss">
  @import "../theme";

  .file-item {
    position: relative;

    background: $item-background;
    color: $item-foreground;
    opacity: 1;
    overflow: hidden;

    border: 2px solid $page-background;
    border-radius: 16px 4px 16px 4px;

    padding: 12px;

    min-height: 100px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    transition: border $transition-time $transition-ease,
                color $transition-time $transition-ease;

    &[data-extension=""] {
      background-color: $item-foreground;
      border-color: $item-background;
      color: $item-background;
    }

    &:before {
      content: attr(data-extension);
      position: absolute;
      font-weight: bold;
      font-size: xx-large;
      color: $accent-secondary-light;
      opacity: .4;
      right: 8px;
      bottom: 0;

      transition: opacity $transition-time*1.5 $transition-ease,
                  text-shadow $transition-time*2 $transition-ease;
    }

    &:hover {
      border-color: $item-border;

      &:before {
        opacity: .7;
        text-shadow: 0 0 10px fade_out(#000, .8);
      }
    }

    .name {
      font-size: larger;
      word-break: break-all;
    }
  }
</style>
