<template>
  <div class="file-list">
    <file-item v-for="item of items"
               :key="item.name"
               :item="item"
               :publicRoot="publicRoot"
               @itemSelected="onItemSelected"/>
  </div>
</template>

<script>
import FileItem from './FileItem'

export default {
  name: 'FileList',
  props: {
    items: { type: Array },
    publicRoot: { type: String }
  },
  components: {
    FileItem
  },
  methods: {
    onItemSelected (item) {
      this.selectedItem = item
    }
  },
  data () {
    return {
      selectedItem: null
    }
  }
}
</script>

<style lang="scss">
  @import "../theme";

  .file-list {
    display: grid;
    margin-top: 20px;

    grid-gap: 10px 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    @media only screen and (max-width: $xl) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    @media only screen and (max-width: $md) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media only screen and (max-width: $sm) {
      grid-template-columns: 1fr 1fr;
    }
    @media only screen and (max-width: $xs) {
      grid-template-columns: 1fr;
    }
  }
</style>
