<template>
  <div class="header">
    <h2>
      <ul>
        <li v-for="section of breadcrumbs" :key="section.href">
          <router-link :to="section.href">{{ section.title }}</router-link>
        </li>
      </ul>
    </h2>
  </div>
</template>

<script>
export default {
  name: 'Header',
  props: {
    breadcrumbs: { type: Array }
  }
}
</script>

<style lang="scss" scoped>
  @import "../theme";

  h1, h2 { color: $header }

  h1 { margin-bottom: 0; font-weight: normal }
  h2 { font-weight: normal; font-size: larger }

  ul { margin: 0; padding: 0 }
  li { display: inline; }
  li:not(:first-child):before { content: ' / ' }

  a:hover { text-decoration: underline; }
</style>
