<template>
  <div v-if="!isFirstLoading" class="app">
    <page-header :breadcrumbs="breadcrumbs"/>
    <router-view v-if="currentItems.length > 0" :items="currentItems" :publicRoot="publicRoot"/>
    <p v-if="currentItems.length <= 0" class="no-data">this folder is empty</p>
  </div>
</template>

<script>
import PageHeader from './components/Header'
import FilesService from './FilesService'
import {generateBreadcrumbs} from './Util'

export default {
  name: 'App',
  components: {
    PageHeader
  },
  methods: {
    fetchItems (path) {
      return FilesService
        .getDirectoryListing(path)
        .then((data) => {
          this.publicRoot = data.publicRoot
          this.currentItems = data.content.items
          this.breadcrumbs = generateBreadcrumbs(data.content.path)
        })
        .catch(() => {
          this.$router.replace('/')
        })
    }
  },
  watch: {
    $route (to, from) {
      this.fetchItems(to.fullPath)
    }
  },
  mounted () {
    this.isFirstLoading = true
    this.fetchItems(this.$router.currentRoute.fullPath)
      .then(() => {
        this.isFirstLoading = false
      })
  },
  data () {
    return {
      breadcrumbs: [],
      currentItems: [],
      publicRoot: '',
      isFirstLoading: false
    }
  }
}
</script>

<style lang="scss">
  @import url('https://fonts.googleapis.com/css?family=Rokkitt:400,700&subset=latin-ext');
  @import "theme";

  body {
    background-color: $page-background;
    color: $page-foreground;
    font-family: "Rokkitt", serif;

    margin: 0;
    padding: 0;

    display: flex;
    flex: 1 0;
    flex-direction: row;
    justify-content: space-around;

    font-size: 18px;
  }

  a, a:visited, a:active, a:focus { color: $anchor; text-decoration: none }
  a:hover { color: $anchor-hover }

  .app {
    flex-basis: 100%;
    padding-left: 20px;
    padding-right: 20px
  }

  .no-data {
    color: $accent;
  }
</style>
