// global color scheme
$accent: #FFE113;
$accent-light: #E0DED0;

$accent-secondary: #422FB5;
$accent-secondary-light: #A79AF5;

$dark: #1C1C1B;

// element colors
$anchor: $accent;
$anchor-hover: $accent-light;

$header: $accent-secondary;
$header-background: $accent;

$page-background: $dark;
$page-foreground: $accent-secondary;

$item-border: $accent;
$item-background: $accent-secondary;
$item-foreground: $accent;

// transitions
$transition-time: .15s;
$transition-ease: ease;

// media query sizes
$xs: 380px;
$sm: 600px;
$md: 860px;
$lg: 1024px;
$xl: 1280px;

